RequestAFreight/RequestAFreightService/businessCatalog/FreightTypes/QuotationObject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="FreightTypes.QuotationObject" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/FreightTypes/QuotationObject" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/FreightTypes/QuotationObject"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="QuotationObjectType">
        <xs:sequence>
            <xs:element name="offer" nillable="true" type="xs:double"/>
            <xs:element name="transporterName" nillable="true" type="xs:string"/>
            <xs:element name="transporterId" nillable="true" type="xs:long"/>
            <xs:element name="status" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="QuotationObject" type="QuotationObjectType"/>
</xs:schema>
