RequestAFreight/RequestAFreightService/businessCatalog/FreightTypes/RequestObject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="FreightTypes.RequestObject" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/FreightTypes/RequestObject" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/FreightTypes/RequestObject"  xmlns:ns1="http://www.registerclient.truckhub.org"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://www.registerclient.truckhub.org" schemaLocation="../../xsd/RegisterClient.xsd"/>
    <xs:complexType name="RequestObjectType">
        <xs:sequence>
            <xs:element name="email" nillable="true" type="xs:string"/>
            <xs:element name="phoneNumber" nillable="true" type="xs:string"/>
            <xs:element ref="ns1:messageType" bpmo:name="messageType"/>
            <xs:element name="district" nillable="true" type="xs:string"/>
            <xs:element name="county" nillable="true" type="xs:string"/>
            <xs:element name="street" nillable="true" type="xs:string"/>
            <xs:element name="doorNumber" nillable="true" type="xs:string"/>
            <xs:element name="zipCode" nillable="true" type="xs:string"/>
            <xs:element name="originLatitude" nillable="true" type="xs:double"/>
            <xs:element name="originLongitude" nillable="true" type="xs:double"/>
            <xs:element name="destinationLatitude" nillable="true" type="xs:double"/>
            <xs:element name="destinationLongitude" nillable="true" type="xs:double"/>
            <xs:element name="parcelWeight" nillable="true" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="RequestObject" type="RequestObjectType"/>
</xs:schema>
