PaymentsToTransportationCompanies/PaymentsToTransportationCompanies/xsd/TransporterPaymentInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="ProcessTypes.TransporterPaymentInfo" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/ProcessTypes/TransporterPaymentInfo" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/ProcessTypes/TransporterPaymentInfo"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="TransporterPaymentInfoType">
        <xs:sequence>
            <xs:element name="transporterId" nillable="true" type="xs:long"/>
            <xs:element name="amountToPay" nillable="true" type="xs:double"/>
            <xs:element name="firstTransportationId" nillable="true" type="xs:long"/>
            <xs:element name="lastTransportationId" nillable="true" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TransporterPaymentInfo" type="TransporterPaymentInfoType"/>
</xs:schema>
