TwitterRequestFreight/TwitterRequestFreightProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/TwitterRequestFreightProcess" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/TwitterRequestFreightProcess"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/TwitterRequestFreightProcess">
            <xsd:element name="receiveRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="text" type="xsd:string"/>
                        <xsd:element name="senderId" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="start">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="text" type="xsd:string"/>
                        <xsd:element name="senderId" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="receiveRequest">
        <wsdl:part name="parameters" element="tns:receiveRequest"/>
    </wsdl:message>
    <wsdl:message name="start">
        <wsdl:part name="parameters" element="tns:start"/>
    </wsdl:message>
    <wsdl:portType name="TwitterRequestFreightProcessPortType">
        <wsdl:operation name="start">
            <wsdl:input message="tns:start"/>
        </wsdl:operation>
        <wsdl:operation name="receiveRequest">
            <wsdl:input message="tns:receiveRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="TwitterRequestFreightProcessPortTypePartnerLinkType">
        <plnk:role name="TwitterRequestFreightProcessPortTypeProvider">
            <plnk:portType name="tns:TwitterRequestFreightProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
