TwitterRequestFreight/businessCatalog/ProcessTypes/Message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="ProcessTypes.Message" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/ProcessTypes/Message" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/ProcessTypes/Message"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="MessageType">
        <xs:sequence>
            <xs:element name="text" nillable="true" type="xs:string"/>
            <xs:element name="senderId" nillable="true" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Message" type="MessageType"/>
</xs:schema>
