RequestQuotation/RequestQuotationService/xsd/BestOfferProcess.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://bestoffer.truckhub.org"
     xmlns:tns="http://bestoffer.truckhub.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="requestType">
        <xsd:sequence>
            <xsd:element name="distanceInKm" type="xsd:double"/>
            <xsd:element name="parcelWeight" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="responseType">
        <xsd:sequence>
            <xsd:element name="offer" type="xsd:double"/>
            <xsd:element name="transporterName" type="xsd:string"/>
            <xsd:element name="transporterId" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="request" type="tns:requestType"/>
    <xsd:element name="response" type="tns:responseType"/>
</xsd:schema>
